<section class="max-w-7xl mx-auto px-4 py-16">
  <h2 class="text-4xl text-center font-semibold mb-12 md:text-5xl md:text-left">Technologies I Use</h2>
  
<ul class="grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 sm:gap-8 md:gap-10 text-center">
  <li *ngFor="let tech of technologies"
      class="py-4 rounded-lg font-medium transition transform
             bg-[var(--card-bg)] text-[var(--card-text)]
             shadow-[var(--shadow-default)]
             hover:bg-[var(--card-hover)]
             hover:shadow-[var(--shadow-hover)]
             hover:-translate-y-1 hover:scale-105
             duration-200 flex flex-col items-center gap-2">
    
    <i [class]="tech.icon + ' text-4xl'"></i>
    {{ tech.name }}
  </li>
</ul>

</section>
