<section class=" p-6 pt-20 md:mx-auto max-w-7xl">
  <h2 class="text-4xl text-center font-semibold mb-12 md:text-5xl md:text-left  ">Projects</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    
    <!-- Project Cards -->
    <app-project-card
        *ngFor="let project of projects"
        [title]="project.title"
        [description]="project.description"
        [repoLink]="project.repoLink"
        [mediaPath]="project.mediaPath"
        [mediaType]="project.mediaType"
        [stack]="project.stack"
        (openModal)="openModal($event.path, $event.type)">
    </app-project-card>
  </div>
  <!-- Modal Overlay -->
<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-70 z-50 flex items-center justify-center"
     (click)="closeModal()">
  <div class="bg-white rounded-xl shadow-xl max-w-2xl w-full p-4 relative"
     (click)="$event.stopPropagation()">
    
    <!-- Close button -->
    <button (click)="closeModal()"
            class="absolute top-2 right-2 text-gray-700 hover:text-red-600 text-xl font-bold">
      &times;
    </button>

    <!-- Conditional Media Display -->
    <ng-container *ngIf="isImage; else videoBlock">
      <img [src]="selectedMediaUrl" alt="Project preview" class="w-full rounded-lg" />
    </ng-container>

    <ng-template #videoBlock>
      <video controls autoplay muted class="w-full rounded-lg">
        <source [src]="selectedMediaUrl" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </ng-template>
  </div>
</div>

</section>

