<div class="max-w-4xl mx-auto px-4 text-center " >
  <h1 class="text-4xl font-bold mb-4">Hi, I'm John</h1>
  <p class="text-text text-lg">
    Motivated and adaptable Web Developer, recently graduated with a Computer Information Systems Diploma from Okanagan College. I’m passionate about building scalable, user-friendly web applications, with a strong foundation in both frontend and backend technologies. My experience includes projects using Angular, PHP, JavaScript, and SQL, as well as CMS platforms like WordPress and Drupal.

Reliable and collaborative, I thrive in team environments and am committed to delivering clean, high-quality code. Always eager to learn and grow professionally in fast-paced development settings
  </p>
</div>



